<div class="panel panel-default" >
  <div class="panel-heading" >
    <h1>Payroll Exceptions</h1>
      <div class="form-group">
          <%= link_to 'Add Payroll Exception', new_payroll_except_path, class: "btn btn-success" %>
          <%= link_to 'My Apps', root_path, class: "btn btn-primary" %>
      </div> 
  </div>


<table class="table table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Type of Exception</th>
      <th>Total Hours</th>
      <th>Comments</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
   
  </thead>


  <tbody>
    <% @payroll_excepts.each do |payroll_except| %>
      <tr>
        <% if payroll_except.user == current_user %>
          <td><%= payroll_except.name %></td>
          <td><%= payroll_except.location %></td>
          <td><%= payroll_except.typeofexception %></td>
          <td><%= payroll_except.totalhours %></td>
          <td><%= payroll_except.comments %></td>
          <td><%= payroll_except.date %></td>
          <td><%= link_to 'Show', payroll_except %></td> 
          <td><%= link_to 'Edit', edit_payroll_except_path(payroll_except) %></td>
        <% end %>  
      </tr>
    <% end %>
  </tbody>
</table>

  
    
     
</div>
